.description-box {
  border: none;
  outline: none;
}
.data-table {
  min-width: 1000px;
}
.data-table tbody {
  display: block;
  height: 580px;
  overflow-y: scroll;
}
.data-table thead, .data-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}